/*TELA INICIO*/
/*Header inicio*/
/*Fim Header inicio*/
/*FIM TELA INICIO*/








@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin:0;
    padding:0;
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
    
}
html {
    height: 100%;
  }
body {
    background: linear-gradient(#141e30, #243b55);
    overflow-x: hidden;
  }
/*Header*/
.containerH {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    background-color: #000aff;
}


.containerH .chaveE {
    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
    position: relative;
    width: 50px;
    height: 50px;
    background: url(https://i.imgur.com/yqyyC1j.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: reverse0 1s both;
}

.containerH .logoH {
    position: absolute;
    height: 50px;
    width: 0px;
    margin-top: 23px;
    margin-left: 30px;
    background: url(https://i.imgur.com/2dAKMfQ.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: reverse1 1.1s both;
    pointer-events: none;
}

.containerH .chaveD {
    position: absolute;
    margin-top: 24px;
    margin-left: 50px;
    height: 50px;
    width: 30px;
    position: absolute;
    background: url(https://i.imgur.com/QDPc2ez.png);
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    animation: reverse2 1s both;
}

.containerH .chaveE:hover {
    animation: animate0 1s both;
}

.containerH .chaveE:hover+.logoH {
    animation: animate1 1s both;
}

.containerH .chaveE:hover~.chaveD {
    animation: animate2 1s both;
}

@keyframes animate0 {
    0% {
        width: 50px;
    }

    100% {
        width: 220px;
    }
}

@keyframes reverse0 {
    0% {
        width: 220px;
    }

    100% {
        width: 50px;
    }
}

@keyframes animate1 {
    0% {
        width: 0px;
    }

    100% {
        width: 189px;
    }
}

@keyframes reverse1 {
    0% {
        width: 189px;
    }

    100% {
        width: 0px;
    }
}

@keyframes animate2 {
    0% {
        left: 0px;
    }

    100% {
        left: 165px;
    }
}

@keyframes reverse2 {
    0% {
        left: 165px;
    }

    100% {
        left: 0px;
    }
}

.navbar {
    position: absolute;
    margin-left: 350px;
    width: 1050px;
    color: rgb(255, 255, 255);
    list-style: none;
    align-items: center;
    display: flex;
    padding: 0;
    justify-content: space-between;
    font-size: 30px;
}

.navbar .btn_I {
    height: 100px;
    width: 80px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background-color: #000aff;
    color: white;
    transition: 0.2s;
}

.navbar .btn_I:hover {
    border-top: 5px white solid;
    text-shadow: 2px 2px black;
}

.navbar .btn_20 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 90px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background-color: #000aff;
    color: white;
    transition: 0.2s;
}

.navbar .btn_20:hover {
    border-top: 5px white solid;
    text-shadow: 2px 2px black;
}

.navbar .btn_21 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 90px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background-color: #000aff;
    color: white;
    transition: 0.2s;
}

.navbar .btn_21:hover {
    border-top: 5px white solid;
    text-shadow: 2px 2px black;
}

.navbar .btn_22 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 90px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background-color: #000aff;
    color: white;
    transition: 0.2s;
}

.navbar .btn_22:hover {
    border-top: 5px white solid;
    text-shadow: 2px 2px black;
}

.navbar .btn_AT {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 90px;
    font-size: 26px;
    cursor: pointer;
    border: none;
    background-color: #000aff;
    color: white;
    transition: 0.2s;
}

.navbar .btn_AT:hover {
    border-top: 5px white solid;
    text-shadow: 2px 2px black;
}

.navbar .btn_L {
    padding: 0;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 90px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background-color: #000aff;
    color: white;
    transition: 0.2s;
}

.navbar .btn_L:hover {
    border-top: 5px white solid;
    text-shadow: 2px 2px black;
}

.LL {
    position: absolute;
    margin-left: 1390px;
    width: 50px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_L {
    height: 50px;
    width: 50px;
}
/*Fim Header*/



















/*TELA INICIO*/
/*Header inicio*/
.navbar .btn_IX {
    height: 100px;
    width: 80px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    border-top: 5px white solid;
    background-color: #000aff;
    color: white;
    transition: 0.2s;
}

.navbar .btn_IX:hover {
    text-shadow: 2px 2px black;
}
/*Fim Header inicio*/
/*FIM TELA INICIO*/



















/*TELA LOGIN*/
/*Header Login*/
.navbar .btn_LX {
    padding: 0;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 90px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background-color: #000aff;
    border-top: 5px white solid;
    color: white;
    transition: 0.2s;
}

.navbar .btn_LX:hover {
    text-shadow: 2px 2px black;
}
/*Fim Header Login*/
  .containerL {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.cardLL {
    position: relative;
    height: 100%;
    width: 33%;

}

.cardL {
    margin-left: 20%;
    margin-top: 35%;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    transition: .2s;
}

.cardL:hover {
    transform: scale(1.1);
}

.cardL h2 {
  letter-spacing: 1px;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.cardL .inputL {
    position: relative;
}

.cardL .inputL input {
  letter-spacing: 1px;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.cardL .inputL label {
  letter-spacing: 1px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.cardL .inputL input:focus~label,
.cardL .inputL input:valid~label {
  letter-spacing: 1px;
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.cardOULL {
    position: relative;
    height: 100%;
    width: 20%;
}

.cardOUL {
    margin-top: 90%;
    margin-left: 45%;
}

.cardOULL span {
    color: #03e9f4;
    font-size: 150px;
}

.cardbtnLL {
    position: relative;
    height: 100%;
    width: 47%;
}

.btnCadL {
    margin-left: 90px;
    margin-top: 44%;
    border: none;
    color: #fff;
    background-color: #141e30;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 47px;
    height: 100px;
    width: 800px;
    text-align: left;
    font-size: 35px;
    cursor: pointer;
    transition: 0.2s;
}

.btnCadL:hover {
    transform: scale(1.1);
    margin-left: 50px;
}

/*butao logar*/
.btnLogarL {
    border: none;
    background-color: #0e1723;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .btnLogarL:hover {
    transform: scale(1.2);
  }
  
  .btnLogarL span {
    position: absolute;
    display: block;
  }
  
  .btnLogarL span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .btnLogarL span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .btnLogarL span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .btnLogarL span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
/*FIM TELA LOGIN*/



















/*TELA CADASTRO*/
.containerC {
  display: flex;
  height: 100%;
  width: 100%;
}

.cardCC {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 3;

}

.cardC {
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: 58%;
  width: 400px;
  padding: 40px;
  background: #111c28;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  transition: .2s;
}

.cardC h2 {
  letter-spacing: 1px;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.cardC .inputC {
  position: relative;
}

.cardC .inputC input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.cardC .inputC label {
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.cardC .inputC input:focus~label,
.cardC .inputC input:valid~label {
  letter-spacing: 1px;
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
/*butao cadastrar*/
.btnLogarC {
  border: none;
  background-color: #0e1723;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  letter-spacing: 4px;
  transition: 0.2s;
  margin-left: 90px;
  cursor: pointer;
}

.btnLogarC:hover {
  transform: scale(1.2);
}

.btnLogarC span {
  position: absolute;
  display: block;
}

.btnLogarC span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.btnLogarC span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.btnLogarC span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.btnLogarC span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
/*Card de baixo*/
.cardC2{
  bottom: 80px;
  left: 175px;
  position: absolute;
  background-color: #000000;
  height: 400px;
  width: 1125px;
  border-radius: 5px;
  z-index: 1;
  padding: 50px 70px;
}
.cardC2 span{
  color: #fff;
  font-size: 60px;
  letter-spacing: 1px;
}
.cardC2 b{
  color: #03e9f4;
}
/*FIM TELA CADASTRO*/



















/*TELA 2020*/
/*Header 2020*/
.navbar .btn_20X {
  height: 100px;
  width: 80px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  border-top: 5px white solid;
  background-color: #000aff;
  color: white;
  transition: 0.2s;
}

.navbar .btn_20X:hover {
  text-shadow: 2px 2px black;
}
/*Fim Header 2020*/

/*FIM TELA 2020*/



















/*TELA 2021*/
/*Header 2021*/
.navbar .btn_21X {
  height: 100px;
  width: 80px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  border-top: 5px white solid;
  background-color: #000aff;
  color: white;
  transition: 0.2s;
}

.navbar .btn_21X:hover {
  text-shadow: 2px 2px black;
}
/*Fim Header 2021*/

/*FIM TELA 2021*/



















/*TELA 2022*/
/*Header 2022*/
.navbar .btn_22X {
  height: 100px;
  width: 80px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  border-top: 5px white solid;
  background-color: #000aff;
  color: white;
  transition: 0.2s;
}

.navbar .btn_22X:hover {
  text-shadow: 2px 2px black;
}
/*Fim Header 2022*/

/*FIM TELA 2022*/



















/*TELA ALL TIME*/
/*Header All Time*/
.navbar .btn_ATX {
  height: 100px;
  width: 80px;
  font-size: 29px;
  cursor: pointer;
  border: none;
  border-top: 5px white solid;
  background-color: #000aff;
  color: white;
  transition: 0.2s;
}

.navbar .btn_ATX:hover {
  text-shadow: 2px 2px black;
}
/*Fim Header All Time*/

/*FIM TELA ALL TIME*/