/*TELA INICIO*/
/*Header inicio*/
/*Fim Header inicio*/
/*FIM TELA INICIO*/








@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue';
  box-sizing: border-box;

}

html {
  height: 100%;
}

body {
  background: linear-gradient(#243b55, #141e30);
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Header*/
.containerH {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  background-color: #000aff;
}


.containerH .chaveE {
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
  position: relative;
  width: 50px;
  height: 50px;
  background: url(https://i.imgur.com/yqyyC1j.png);
  background-repeat: no-repeat;
  background-size: contain;
  animation: reverse0 1s both;
}

.containerH .logoH {
  position: absolute;
  height: 50px;
  width: 0px;
  margin-top: 23px;
  margin-left: 30px;
  background: url(https://i.imgur.com/2dAKMfQ.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation: reverse1 1.1s both;
  pointer-events: none;
}

.containerH .chaveD {
  position: absolute;
  margin-top: 24px;
  margin-left: 50px;
  height: 50px;
  width: 30px;
  position: absolute;
  background: url(https://i.imgur.com/QDPc2ez.png);
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  animation: reverse2 1s both;
}

.containerH .chaveE:hover {
  animation: animate0 1s both;
}

.containerH .chaveE:hover+.logoH {
  animation: animate1 1s both;
}

.containerH .chaveE:hover~.chaveD {
  animation: animate2 1s both;
}

@keyframes animate0 {
  0% {
    width: 50px;
  }

  100% {
    width: 220px;
  }
}

@keyframes reverse0 {
  0% {
    width: 220px;
  }

  100% {
    width: 50px;
  }
}

@keyframes animate1 {
  0% {
    width: 0px;
  }

  100% {
    width: 189px;
  }
}

@keyframes reverse1 {
  0% {
    width: 189px;
  }

  100% {
    width: 0px;
  }
}

@keyframes animate2 {
  0% {
    left: 0px;
  }

  100% {
    left: 165px;
  }
}

@keyframes reverse2 {
  0% {
    left: 165px;
  }

  100% {
    left: 0px;
  }
}

.navbar {
  position: absolute;
  margin-left: 400px;
  width: 1050px;
  color: rgb(255, 255, 255);
  list-style: none;
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: space-between;
  font-size: 30px;
}

.navbar .btn_I {
  
  width: 200px;
  word-spacing: 5px;
  height: 100px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background-color: #000aff;
  color: white;
  transition: 0.2s;
}

.navbar .btn_I:hover {
  border-top: 5px white solid;
  text-shadow: 2px 2px black;
}

.navbar .btn_22 {
  width: 200px;
  word-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background-color: #000aff;
  color: white;
  transition: 0.2s;
}

.navbar .btn_22:hover {
  border-top: 5px white solid;
  text-shadow: 2px 2px black;
}

.navbar .btn_AT {
  width: 200px;
  word-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 26px;
  cursor: pointer;
  border: none;
  background-color: #000aff;
  color: white;
  transition: 0.2s;
}

.navbar .btn_AT:hover {
  border-top: 5px white solid;
  text-shadow: 2px 2px black;
}

.navbar .btn_L {
  padding: 0;
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 200px;
  word-spacing: 5px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background-color: #000aff;
  color: white;
  transition: 0.2s;
}

.navbar .btn_L:hover {
  border-top: 5px white solid;
  text-shadow: 2px 2px black;
}

.LL {
  position: absolute;
  margin-left: 1390px;
  width: 50px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_L {
  height: 50px;
  width: 50px;
}

/*Fim Header*/




















/*FOOTER*/
footer {
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: row;
  background-color: #243b55;
  height: 225px;
  width: 100%;
}

.footerEsquerda {
  padding: 20px 20px;
  width: 50%;
}

.logoFF {
  margin-top: 10px;
  display: flex;
  margin-left: 135px;
}

.chaveFE {
  height: 50px;
}

.chaveFD {
  height: 50px;
  margin-left: 170px;
}

.logoF {
  margin-top: -3px;
  margin-left: 10px;
  position: absolute;
  height: 50px;
}


.sociais {
  margin-left: 70px;
  border-bottom: #03e9f4 solid 1px;
  border-top: #03e9f4 solid 1px;
  margin-top: 55px;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 60px;
  width: 345px;
}

.sociais li {
  margin: 0px 10px;

}

.a_f {
  color: #03e9f4;
  transition: 0.5s;
  font-size: 30px;
  transition: 0.5s;
}

.a_f:link {
  color: #03e9f4;
  background-color: transparent;
  text-decoration: none;
}

.a_f:visited {
  color: #03e9f4;
  background-color: transparent;
  text-decoration: none;
}

.a_f:active {
  color: #03e9f4;
  background-color: transparent;
  text-decoration: none;
}

.a_f:hover {
  color: #03e9f4;
  background-color: transparent;
  font-size: 35px;
}

.footerDireita {
  padding: 10px 20px;
  width: 50%;
  display: flex;
  justify-content: end;
}

.footerDireita .hr1F {
  margin-top: 20px;
  margin-right: 130px;
  position: absolute;
  height: 1px;
  width: 180px;
  border: none;
  background-color: #03e9f4;
}

.footerDireita .hr2F {
  margin-top: 170px;
  position: absolute;
  margin-right: 70px;
  height: 1px;
  width: 300px;
  border: none;
  background-color: #03e9f4;
}

.juridicoF {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 12px;
  margin-right: 100px;
}

.juridicoF li {
  margin-bottom: 10px;

}

.linksF {
  color: #141e30;
  transition: 0.5s;
  font-size: 20px;
  transition: 0.5s;
}

.linksF:link {
  color: #141e30;
  background-color: transparent;
  text-decoration: none;
}

.linksF:visited {
  color: #141e30;
  background-color: transparent;
  text-decoration: none;
}

.linksF:active {
  color: #141e30;
  background-color: transparent;
  text-decoration: none;
}

.linksF:hover {
  color: #03e9f4;
  background-color: transparent;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #03e9f4;
  background-color: #141e30;
  width: 100%;
  height: 50px;
}

.footer-bottom p {
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #03e9f4;
  margin-left: 36px;
  font-size: 18px;
}

/*FIM FOOTER*/



















/*TELA INICIO*/
/*Header inicio*/
.navbar .btn_IX {
  height: 100px;
  width: 200px;
  word-spacing: 5px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  border-top: 5px white solid;
  background-color: #000aff;
  color: white;
  transition: 0.2s;
}

.navbar .btn_IX:hover {
  text-shadow: 2px 2px black;
}

/*Fim Header inicio*/
/*FIM TELA INICIO*/



















/*TELA LOGIN*/
.verificacao {
  margin-left: 8px;
  margin-top: 13px;
  position: absolute;
  height: 20px;
  width: 20px;
}

/*Header Login*/
.navbar .btn_LX {
  padding: 0;
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 200px;
  word-spacing: 5px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background-color: #000aff;
  border-top: 5px white solid;
  color: white;
  transition: 0.2s;
}

.navbar .btn_LX:hover {
  text-shadow: 2px 2px black;
}

/*Fim Header Login*/
.containerL {
  margin-bottom: 6%;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.cardLL {
  position: relative;
  height: 100%;
  width: 33%;

}

.cardL {
  margin-left: 20%;
  margin-top: 35%;
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, .5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  transition: .2s;
}

.cardL:hover {
  transform: scale(1.1);
}

.cardL h2 {
  letter-spacing: 1px;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.cardL .inputL {
  position: relative;
}

.cardL .inputL input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.cardL .inputL label {
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.cardL .inputL input:focus~label,
.cardL .inputL input:valid~label {
  letter-spacing: 1px;
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.cardOULL {
  position: relative;
  height: 100%;
  width: 20%;
}

.cardOUL {
  margin-top: 90%;
  margin-left: 45%;
}

.cardOULL span {
  color: #03e9f4;
  font-size: 150px;
}

.cardbtnLL {
  position: relative;
  height: 100%;
  width: 47%;
}

.btnCadL {
  margin-left: 90px;
  margin-top: 44%;
  border: none;
  color: #fff;
  background-color: #141e30;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 47px;
  height: 100px;
  width: 800px;
  text-align: left;
  font-size: 35px;
  cursor: pointer;
  transition: 0.2s;
}

.btnCadL:hover {
  transform: scale(1.1);
  margin-left: 50px;
}

/*butao logar*/
.btnLogarL {
  border: none;
  background-color: #0e1723;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  transition: 0.2s;
  cursor: pointer;
}

.btnLogarL:hover {
  transform: scale(1.2);
}

.btnLogarL span {
  position: absolute;
  display: block;
}

.btnLogarL span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%, 100% {
    left: 100%;
  }
}

.btnLogarL span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%, 100% {
    top: 100%;
  }
}

.btnLogarL span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%, 100% {
    right: 100%;
  }
}

.btnLogarL span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%, 100% {
    bottom: 100%;
  }
}

/*MODAL LOGIN*/
.modal-containerALERTA {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: opacity 0.3s ease;
  width: 100vw;
  background-color: rgba(255, 77, 77, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.modal-containerALERTA.showALERTA {
  opacity: 1;
  pointer-events: auto;
}

.modal-containerALERTA.showCONFIR {
  opacity: 1;
  pointer-events: auto;
  background-color: rgba(89, 255, 77, 0.8);
}

.modalALERTA {
  background-color: rgb(36, 59, 85);
  color: #fff;
  width: 400px;
  max-width: 100%;
  padding: 30px 10px;
  border-radius: 15px;
  text-align: center;
}

.modalALERTA h1 {
  letter-spacing: 2px;
}

/*FIM MODAL LOGIN*/
/*FIM TELA LOGIN*/



















/*TELA CADASTRO*/
.containerC {
  display: flex;
  height: 100%;
  width: 100%;
}

.cardCC {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 3;

}

.cardC {
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: 58%;
  width: 400px;
  padding: 40px;
  background: #111c28;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  transition: .2s;
}

.cardC h2 {
  letter-spacing: 1px;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.cardC .inputC {
  position: relative;
}

.cardC .inputC input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.cardC .inputC label {
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.cardC .inputC input:focus~label,
.cardC .inputC input:valid~label {
  letter-spacing: 1px;
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

/*butao cadastrar*/
.btnLogarC {
  border: none;
  background-color: #0e1723;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  letter-spacing: 4px;
  transition: 0.2s;
  margin-left: 90px;
  cursor: pointer;
}

.btnLogarC:hover {
  transform: scale(1.2);
}

.btnLogarC span {
  position: absolute;
  display: block;
}

.btnLogarC span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%, 100% {
    left: 100%;
  }
}

.btnLogarC span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%, 100% {
    top: 100%;
  }
}

.btnLogarC span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%, 100% {
    right: 100%;
  }
}

.btnLogarC span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%, 100% {
    bottom: 100%;
  }
}

/*Card de baixo*/
.cardC2 {
  bottom: 80px;
  left: 175px;
  position: absolute;
  background-color: #000000;
  height: 400px;
  width: 1125px;
  border-radius: 5px;
  z-index: 1;
  padding: 50px 70px;
}

.cardC2 span {
  color: #fff;
  font-size: 60px;
  letter-spacing: 1px;
}

.cardC2 b {
  color: #03e9f4;
}

/*MODAL CAPTCHA*/

.modal-containerCapC {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: opacity 0.3s ease;
  width: 100vw;
  background-color: rgba(36, 59, 85, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
}

.modal-containerCapC.showCapC {
  opacity: 0;
  pointer-events: none;
}

.modalCapC {
  background-color: rgb(36, 59, 85);
  color: #fff;
  width: 400px;
  max-width: 100%;
  padding: 30px 10px;
  border-radius: 15px;
  text-align: center;
}

.modalCapC input {
  width: 120px;
  border: #03e9f4 solid;
  border-radius: 10px;
  color: #03e9f4;
  background-color: #0e1723;
}

.modalCapC h1 {
  letter-spacing: 2px;
}

.contaC p {
  font-size: 40px;
}

/* butão */
.closeCapC {
  border: none;
  background-color: #0e1723;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  transition: 0.2s;
  margin-left: 30px;
  cursor: pointer;
}

.closeCapC:hover {
  transform: scale(1.2);
}

.closeCapC span {
  position: absolute;
  display: block;
}

.closeCapC span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%, 100% {
    left: 100%;
  }
}

.closeCapC span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%, 100% {
    top: 100%;
  }
}

.closeCapC span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%, 100% {
    right: 100%;
  }
}

.closeCapC span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%, 100% {
    bottom: 100%;
  }
}

/*modal ERRO*/
.modal-containerERROC {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: opacity 0.3s ease;
  width: 100vw;
  background-color: rgba(200, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 11;

}

.modal-containerERROC.showERROC {
  opacity: 1;
  pointer-events: auto;
}

.modalERROC {
  background-color: rgb(241, 39, 12);
  color: #fff;
  max-width: 100%;
  padding: 30px 10px;
  border-radius: 15px;
  text-align: center;
}

/*FIM TELA CADASTRO*/




















/*TELA 2022*/
/*Header 2022*/
.navbar .btn_22X {
  height: 100px;
  width: 200px;
  word-spacing: 5px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  border-top: 5px white solid;
  background-color: #000aff;
  color: white;
  transition: 0.2s;
}

.navbar .btn_22X:hover {
  text-shadow: 2px 2px black;
}

/*Fim Header 2022*/
/*Header votação*/
.header22 {
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  background-color: #0006bd;
}

.header22 button {
  height: 40px;
  width: 200px;
  font-size: 25px;
  color: #fff;
  background-color: #0006bd;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.categoriaANT22 {
  margin-left: 340px;
}


.categoriaPROX22 {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.header22 button:hover {
  transform: scale(1.05);
}

.contagemVOT {
  color: #fff;
  font-size: 40px;
  margin-left: 315px;
}
/*Header votação*/









/*VOTO JDA*/
.conteinerVTM22{
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
}
.tituloVTM{
  letter-spacing: 1px;
  padding: 20px 50px;
  color: #fff;
  font-size: 30px;
  width: 100%;
  height: 25%;
}
.votosVTM{
  display: flex;
  flex-direction: row;
  padding: 15px 30px;
  width: 100%;
  height: 70%;
}
.setaD{
  margin-top: 5px;
  clip-path: polygon(21% 0%, 44% 50%, 20% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: #fff;
  width: 20px;
  height: 20px;

}
/*botão votar Deathloop*/
.Deathloop{
  color: #fff;
}
.Deathloop h4{
  letter-spacing: 1px;
}
.Deathloop h1{
  letter-spacing: 2px;
}
.Deathloop button{
  background-image: url(https://cdn.thegameawards.com/1/2021/11/TGA2021_Nom_Deathloop_1080x1080.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 300px;
  width: 250px;
  background-color: #0e1723;
  transition: 0.25s;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 35px;
  margin-right: 40px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
  
.Deathloop button:hover{
  color: #03e9f4;
}
.DeathloopBTN:hover > span:nth-child(1){
  display: block;
}
.DeathloopBTN:hover > span:nth-child(2){
  display: block;
}
.DeathloopBTN:hover > span:nth-child(3){
  display: block;
}
.DeathloopBTN:hover > span:nth-child(4){
  display: block;
}

.DeathloopBTN span {
  position: absolute;
  display: block;
}

.DeathloopBTN span:nth-child(1) {
  display: none;
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 2s linear infinite;
}

.DeathloopBTN span:nth-child(2) {
  display: none;
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 2s linear infinite;
  animation-delay: .5s;
}

.DeathloopBTN span:nth-child(3) {
  display: none;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1s;
}

.DeathloopBTN span:nth-child(4) {
  display: none;
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.5s;
}

.DeathloopBTN span:nth-child(5){
  margin-top: 105px;
  margin-left: 90px;
}
/*botão votar ItTakesTwo*/
.ItTakesTwo{
  color: #fff;
}
.ItTakesTwo h4{
  letter-spacing: 1px;
}
.ItTakesTwo h1{
  letter-spacing: 2px;
}
.ItTakesTwo button{
  background-image: url(https://cdn.thegameawards.com/1/2021/11/TGA2021_Nom_It-Takes-Two_1080x1080.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 300px;
  width: 250px;
  background-color: #0e1723;
  transition: 0.25s;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 35px;
  margin-right: 40px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
  
.ItTakesTwo button:hover{
  color: #03e9f4;
}
.ItTakesTwoBTN:hover > span:nth-child(1){
  display: block;
}
.ItTakesTwoBTN:hover > span:nth-child(2){
  display: block;
}
.ItTakesTwoBTN:hover > span:nth-child(3){
  display: block;
}
.ItTakesTwoBTN:hover > span:nth-child(4){
  display: block;
}

.ItTakesTwoBTN span {
  position: absolute;
  display: block;
}

.ItTakesTwoBTN span:nth-child(1) {
  display: none;
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 2s linear infinite;
}

.ItTakesTwoBTN span:nth-child(2) {
  display: none;
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 2s linear infinite;
  animation-delay: .5s;
}

.ItTakesTwoBTN span:nth-child(3) {
  display: none;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1s;
}

.ItTakesTwoBTN span:nth-child(4) {
  display: none;
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.5s;
}

.ItTakesTwoBTN span:nth-child(5){
  margin-top: 105px;
  margin-left: 90px;
}
/*botão votar Metroid*/
.Metroid{
  color: #fff;
}
.Metroid h4{
  letter-spacing: 1px;
}
.Metroid h1{
  letter-spacing: 2px;
}
.Metroid button{
  background-image: url(https://cdn.thegameawards.com/1/2021/11/TGA2021_Nom_Metroid-Dread_1080x1080.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 300px;
  width: 250px;
  background-color: #0e1723;
  transition: 0.25s;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 35px;
  margin-right: 40px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
  
.Metroid button:hover{
  color: #03e9f4;
}
.MetroidBTN:hover > span:nth-child(1){
  display: block;
}
.MetroidBTN:hover > span:nth-child(2){
  display: block;
}
.MetroidBTN:hover > span:nth-child(3){
  display: block;
}
.MetroidBTN:hover > span:nth-child(4){
  display: block;
}

.MetroidBTN span {
  position: absolute;
  display: block;
}

.MetroidBTN span:nth-child(1) {
  display: none;
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 2s linear infinite;
}

.MetroidBTN span:nth-child(2) {
  display: none;
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 2s linear infinite;
  animation-delay: .5s;
}

.MetroidBTN span:nth-child(3) {
  display: none;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1s;
}

.MetroidBTN span:nth-child(4) {
  display: none;
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.5s;
}

.MetroidBTN span:nth-child(5){
  margin-top: 105px;
  margin-left: 90px;
}
/*botão votar Ratchet*/
.Ratchet{
  color: #fff;
}
.Ratchet h4{
  letter-spacing: 1px;
}
.Ratchet h1{
  letter-spacing: 2px;
}
.Ratchet button{
  background-image: url(https://cdn.thegameawards.com/1/2021/11/TGA2021_Nom_Ratchet-And_Clank_1080x1080_V2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 300px;
  width: 250px;
  background-color: #0e1723;
  transition: 0.25s;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 35px;
  margin-right: 40px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
  
.Ratchet button:hover{
  color: #03e9f4;
}
.RatchetBTN:hover > span:nth-child(1){
  display: block;
}
.RatchetBTN:hover > span:nth-child(2){
  display: block;
}
.RatchetBTN:hover > span:nth-child(3){
  display: block;
}
.RatchetBTN:hover > span:nth-child(4){
  display: block;
}

.RatchetBTN span {
  position: absolute;
  display: block;
}

.RatchetBTN span:nth-child(1) {
  display: none;
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 2s linear infinite;
}

.RatchetBTN span:nth-child(2) {
  display: none;
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 2s linear infinite;
  animation-delay: .5s;
}

.RatchetBTN span:nth-child(3) {
  display: none;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1s;
}

.RatchetBTN span:nth-child(4) {
  display: none;
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.5s;
}

.RatchetBTN span:nth-child(5){
  margin-top: 105px;
  margin-left: 90px;
}
/*botão votar Resident*/
.Resident{
  color: #fff;
}
.Resident h4{
  letter-spacing: 1px;
}
.Resident h1{
  letter-spacing: 2px;
}
.Resident button{
  background-image: url(https://cdn.thegameawards.com/1/2021/11/TGA2021_Nom_Resident-Evil-Village_1080x1080.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 300px;
  width: 250px;
  background-color: #0e1723;
  transition: 0.25s;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 35px;
  margin-right: 40px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
  
.Resident button:hover{
  color: #03e9f4;
}
.ResidentBTN:hover > span:nth-child(1){
  display: block;
}
.ResidentBTN:hover > span:nth-child(2){
  display: block;
}
.ResidentBTN:hover > span:nth-child(3){
  display: block;
}
.ResidentBTN:hover > span:nth-child(4){
  display: block;
}

.ResidentBTN span {
  position: absolute;
  display: block;
}

.ResidentBTN span:nth-child(1) {
  display: none;
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 2s linear infinite;
}

.ResidentBTN span:nth-child(2) {
  display: none;
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 2s linear infinite;
  animation-delay: .5s;
}

.ResidentBTN span:nth-child(3) {
  display: none;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1s;
}

.ResidentBTN span:nth-child(4) {
  display: none;
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.5s;
}

.ResidentBTN span:nth-child(5){
  margin-top: 105px;
  margin-left: 90px;
}
/*VOTO JDA*/



/*FIM TELA 2022*/



















/*TELA ALL TIME*/
/*Header All Time*/
.navbar .btn_ATX {
  height: 100px;
  width: 200px;
  word-spacing: 5px;
  font-size: 29px;
  cursor: pointer;
  border: none;
  border-top: 5px white solid;
  background-color: #000aff;
  color: white;
  transition: 0.2s;
}

.navbar .btn_ATX:hover {
  text-shadow: 2px 2px black;
}

/*Fim Header All Time*/

/*FIM TELA ALL TIME*/